{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/camelcase": 0,
    "prettier/prettier": "error",
    "import/extensions": ["error", "always", { "ignorePackages": true }],
    "import/order": ["error"]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}
